# See /usr/share/postfix/main.cf.dist for a commented, more complete version


# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP $mail_name 
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# See http://www.postfix.org/COMPATIBILITY_README.html -- default to 2 on
# fresh installs.
compatibility_level = 2

{% if postfix_smtpd_tls_security_level != 'none' %}

# TLS parameters
smtpd_tls_cert_file= {{ postfix_smtpd_tls_cert }}
smtpd_tls_key_file= {{ postfix_smtpd_tls_key }}
smtpd_tls_security_level= {{ postfix_smtpd_tls_security_level }}
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
{% endif %}
# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

# Settings to prevent SPAM early
smtpd_helo_required = yes
smtpd_delay_reject = yes
smtpd_helo_restrictions = permit_mynetworks, reject_invalid_helo_hostname, permit

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination

{% if postfix_dovecot|bool %}
# SASL
smtpd_sasl_auth_enable = yes
smtpd_sasl_type=dovecot
smtpd_sasl_path=private/auth
smtpd_helo_required = yes

smtpd_sasl_security_options = noanonymous
smtpd_sasl_local_domain = $myhostname
broken_sasl_auth_clients = yes


smtpd_recipient_restrictions = permit_sasl_authenticated,
    permit_mynetworks, 
    reject_unauth_destination, 
    reject_unauth_pipelining, 
    reject_invalid_helo_hostname, 
    reject_non_fqdn_helo_hostname, 
    reject_unknown_recipient_domain,

smtpd_client_restrictions = permit_mynetworks, 
    permit_sasl_authenticated, 
    reject_unauth_destination, 
    reject_unauth_pipelining
smtpd_sender_restrictions = reject_sender_login_mismatch, 
    permit_sasl_authenticated, 
    reject_unknown_sender_domain

{% endif %}
{% if postfix_sender_login_map_tpls %}
{% if postfix_sender_login_maps_unionmap %}
smtpd_sender_login_maps = unionmap:{
    {{ postfix_sender_login_map_tpls | map(attribute='entry') | list | join(',\n    ') }} }
{% else %}
smtpd_sender_login_maps = {{ postfix_sender_login_map_tpls | map(attribute='entry') | list | join(',\n    ') }} 
{% endif %}
{% endif %}

myhostname = {{postfix_myhostname}}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mydestination = {{postfix_mydestination}}
relayhost = 
mynetworks = {{postfix_mynetworks}}
{% if postfix_dovecot_lmtp %}
mailbox_transport = lmtp:unix:private/dovecot-lmtp
{% else %}
home_mailbox = {{ postfix_home_mailbox }}
{% endif %}
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all

